
*,
div,
pre,
textarea,
body,
input,
td,
tr,
p {
    background-color: #303030 !important;
    background-image: none !important;
    color: #bbbbbb !important;
}
/*
html {
    overflow: hidden;
}
*/
h1,
h2,
h3,
h4 {
    background-color: #303030 !important;
    color: #b8ddea !important;
}
a {
    color: #008fff !important;
}
a:hover,a:focus {
    color: #5faf00 !important;
}
a:visited {
    color: #d75f00 !important;
}
img {
    opacity: .1;
    filter: blur(5px);
}
img:hover {
    opacity: 1;
    filter: none;
}

/* Hint mode color styling
 * Color scheme: Base16 Eighties (https://github.com/chriskempson/base16)
 *
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^="label"] {
    background-color: #f2f0ec !important;
    border: 1px solid #2d2d2d !important;
    color: #2d2d2d !important;
    font: bold 10pt monospace !important;
    opacity: 1 !important;
    padding: 0.1em !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
    text-transform: uppercase !important;
}
span[vimbhint="label focus"] {
    background-color: #f2f0ec !important;
    border: 1px solid #2d2d2d !important;
    color: #2d2d2d !important;
    font: bold 13pt monospace !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
    text-transform: uppercase !important;
}
*[vimbhint^="hint"] {
    background-color: #ffcc66 !important;
    color: #2d2d2d !important;
}

*[vimbhint="hint focus"] {
    background-color: #6699cc !important;
    color: #2d2d2d !important;
}
*::selection {
    background-color: #d75f00 !important;
    color: #fff !important;
}
